*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #131112, #363435);
}

.container{
    margin: 100px;
    align-items: center;
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.dado{
    background-color: balck;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(77deg) rotateY(275deg);
    transition: transform 1.5s linear;
}

.face{
    background-color: grey;
    width: 100%;
    height: 100%;
    position:absolute;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 1px;
    text-align: center;
    align-items: center;

}

.front{
    transform: rotateX(0deg) translateZ(100px);
}

.back{
    transform: rotateX(0deg) translateZ(-100px);
}

.left{
    transform:rotateY(90deg)translateX(0px) translateZ(-100px);
}

.right{
    transform: rotateX(0deg) rotateY(90deg) translateX(0px) translateZ(100px);
}

.top{
    transform: rotateX(90deg) translateZ(100px) translateX(0px) translateY(0px);
}

.bottom{
    transform: rotateX(90deg) translateZ(-100px) translateX(0px) translateY(0px);
}

input{
    display: relative;
    z-index: 10;
    opacity: 0%;
}

input[value="left"]:checked ~ .container .dado{
    transform: rotateX(167deg) rotateY(257deg);
}
input[value="front"]:checked ~ .container .dado{
    transform: rotateX(347deg) rotateY(8deg);
}
input[value="back"]:checked ~ .container .dado{
    transform: rotateX(350deg) rotateY(192deg);
}
input[value="rigth"]:checked ~ .container .dado{
    transform: rotateX(348deg) rotateY(259deg);
}
input[value="top"]:checked ~ .container .dado{
    transform: rotateX(256deg) rotateY(0deg);
}
input[value="bottom"]:checked ~ .container .dado{
    transform: rotateX(77deg) rotateY(275deg);
}

.botoes_dado{
    margin-right: 500px;
    border: solid 2px #F7F7FF;
    background-color: #131112;
    border-radius: 5px;
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.part1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
.part2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;    
}
.part3{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

label{
    display: flex;
    width: 80px;
    border-radius: 10px; 
}

label img{
    width: 80px;
    height: 80px;
    border: solid 1px #F7F7FF;
    border-radius: 5px;
    background-color: grey;
}
label img:hover{
    background-color: rgb(46, 46, 46);
    transition: all .5s ease-out;
}


#l-bottom:hover{
    scale: 1.02;
    transition: all 1s ease-out;
}
